<div class="media">
  <a class="pull-left" ng-href="#/movie/{{movie.id}}">
    <img ng-if="movie.poster_path" class="media-object" height="195" width="130" ng-src="http://image.tmdb.org/t/p/w130/{{movie.poster_path}}" alt="{{movie.title}}">
    <img ng-hide="movie.poster_path" mdb-image-holder="holder.js/130x195/industrial/text:No \n Image">
  </a>
  <div class="media-body">
    <h4 class="media-heading"><a ng-href="#/movie/{{movie.id}}">{{movie.title}}</a></h4>
    <p class="movie-overview">{{movie.overview}}</p>
    <p><strong>Average rating</strong>: {{movie.vote_average}}</p>
    <p ng-show="movie.budget > 0"><strong>Budget</strong>: {{movie.budget|currency}}</p>
    <p ng-show="movie.revenue"><strong>Revenue</strong>: {{movie.revenue|currency}}</p>

    <a ng-href="#/genres/{{genre.id}}" ng-repeat="genre in movie.genres"><span class="label label-primary">{{genre.name}}</span></a>
  </div>
</div>