<div class="backdrop-container">
  <img class="backdrop-image" ng-if="movieCtrl.movie.backdrop_path" ng-src="http://image.tmdb.org/t/p/w1920/{{movieCtrl.movie.backdrop_path}}">
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12" ng-class="{loading: movieCtrl.loading}" style="min-height: 500px">
      <h1 class="page-header">{{movieCtrl.movie.title}} 
        <em class="small">({{movieCtrl.movie.release_date | date:'yyyy'}})</em>
        <span ng-show="movieCtrl.movie.popularity > 40" class="glyphicon glyphicon-fire popularity-icon pull-right" style="color:orange"></span>
      </h1>

      <div class="media">
        <div class="pull-left">
          <div class="movie-poster">
            <img ng-if="movieCtrl.movie.poster_path" class="media-object" width="300" ng-src="http://image.tmdb.org/t/p/w300/{{movieCtrl.movie.poster_path}}" alt="{{movieCtrl.movie.title}}">
            <img mdb-image-holder="holder.js/300x450/industrial/text:No \n Image" ng-hide="movieCtrl.movie.poster_path">
            <div class="trailer-overlay" ng-show="getTrailer()">
              <span class="glyphicon glyphicon-play trailer-play-icon" ng-click="playTrailer()"></span>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12" style="margin-top:5px;">
              <button ng-hide="movieCtrl.movie.account_states.favorite" ng-click="movieCtrl.toggleFavorite()" class="btn btn-block btn-lg btn-success">Add to Favorites</button>
              <button ng-show="movieCtrl.movie.account_states.favorite" ng-click="movieCtrl.toggleFavorite()" class="btn btn-block btn-lg btn-warning">Remove from Favorites</button>
              <button ng-hide="movieCtrl.movie.account_states.watchlist" ng-click="movieCtrl.toggleWatchlist()" class="btn btn-block btn-lg btn-success">Add to Watchlist</button>
              <button ng-show="movieCtrl.movie.account_states.watchlist" ng-click="movieCtrl.toggleWatchlist()" class="btn btn-block btn-lg btn-warning">Remove from Watchlist</button>
              <a target="_blank" ng-href="http://www.imdb.com/title/{{movieCtrl.movie.imdb_id}}" class="btn btn-block btn-lg btn-primary">More info</a>
            </div>
          </div>
        </div>
        <div class="media-body" style="padding-left:10px;">
          <span ng-show="movieCtrl.movie.directors.length" class="text-upper text-bold text-muted text-xl">Directed by <span ng-repeat="director in movieCtrl.movie.directors"><a ng-href="#/person/{{director.id}}">{{director.name}}</a>{{$last ? '' : ', '}}</span> &nbsp;|&nbsp; </span>
          <span ng-show="movieCtrl.movie.writers.length" class="text-upper text-bold text-muted text-xl">Written by <span ng-repeat="writer in movieCtrl.movie.writers"><a ng-href="#/person/{{writer.id}}">{{writer.name}}</a>{{$last ? '' : ', '}}</span></span>
          <h4>
            <a ng-href="#/movies/genre/{{genre.id}}" ng-repeat="genre in movieCtrl.movie.genres">
              <span class="label label-primary">{{genre.name}}</span>
            </a>
          </h4>
          <hr>
          <ul class="list-unstyled movie-metadata">
            <li ng-class="{'is-rated': movieCtrl.movie.account_states.rated.value}">
              <rating ng-show="app.user.id" ng-model="movieCtrl.movie.account_states.rated.value" max="10" class="pull-right" ng-change="movieCtrl.ratingChanged()"></rating>

              <rating readonly=true ng-hide="app.user.id" ng-model="movieCtrl.movie.vote_average" max="10" class="pull-right"></rating>
            </li>

            <li><span class="list-key">Average rating</span>: {{movieCtrl.movie.vote_average}} from {{movieCtrl.movie.vote_count}} votes</li>
            <li ng-show="movieCtrl.movie.release_date"><span class="list-key">Release date</span>: {{movieCtrl.movie.release_date|date}}</li>
            <li ng-show="movieCtrl.movie.runtime"><span class="list-key">Runtime</span>: {{movieCtrl.movie.runtime}} minutes</li>
            <li ng-show="movieCtrl.movie.production_companies.length">
              <span class="list-key">Production companies</span> : <span ng-repeat="company in movieCtrl.movie.production_companies">{{company.name}}{{$last ? '' : ', '}}</span>
            </li>
            <li ng-show="movieCtrl.movie.production_countries.length">
              <span class="list-key">Filming locations</span> : <span ng-repeat="country in movieCtrl.movie.production_countries">{{country.name}}{{$last ? '' : ', '}}</span>
            </li>
            <li ng-show="movieCtrl.movie.popularity"><span class="list-key">Popularity</span>: {{movieCtrl.movie.popularity | number:2}}</li>
            <li ng-show="movieCtrl.movie.budget"><span class="list-key">Budget</span>: {{movieCtrl.movie.budget|currency}}</li>
            <li ng-show="movieCtrl.movie.revenue"><span class="list-key">Revenue</span>: {{movieCtrl.movie.revenue|currency}}</li>
          </ul>
          <hr>
          <p class="text-upper text-bold text-muted text-xl">{{movieCtrl.movie.tagline}}</p>
          <em>{{movieCtrl.movie.overview}}</em>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2 class="page-header">Cast</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-xs-6 col-md-3" style="margin-bottom:30px;" ng-repeat="actor in movieCtrl.movie.credits.cast">
      <div class="media">
        <div class="pull-left">
          <a ng-href="#/person/{{actor.id}}">
            <!-- use `ng-if` here instead of `ng-show` to prevent a 404 where there is no profile_path - i.e. the src will be requested regardless of whether the img tag is hidden or not -->
            <img ng-if="actor.profile_path" class="media-object" width="92" height="138" ng-src="http://image.tmdb.org/t/p/w92/{{actor.profile_path}}" alt="{{actor.name}}">
            <img ng-hide="actor.profile_path" mdb-image-holder="holder.js/92x138/industrial/text:No \n Image">
          </a>
        </div>
        <div class="media-body">
          <a ng-href="#/person/{{actor.id}}">
            <p class="h4" style="margin:0 0 5px 0; word-break: break-word;">{{actor.name}}</p>
          </a>
          <p ng-show="actor.character" class="small text-muted">{{actor.character}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
