.loading {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
}

.loading::before {
  content: '';
  background: #222 url(../../_assets/images/gears.gif) no-repeat center 200px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  /* these are required to prevent the loading overlay from overflowing */
  top:0px;
  left:0px;

  opacity: 1.0;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -moz-opacity: 1.0;
  -khtml-opacity: 1.0;
}

.loading.loading-centered::before {
  background-position: center center!important;
}