<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <meta charset="utf-8">
  <title>Movie DB App</title>

  <link rel="stylesheet" href="../bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="_styles/app.css">
  <link rel="stylesheet" href="_styles/loading.css">
  <link rel="stylesheet" href="movie/movie.css">
  <link rel="stylesheet" href="autocomplete/result_item.css">

  <link rel="icon" href="https://angularjs.org/favicon.ico" type="image/x-icon">

  <style type="text/css">
    [ng-cloak] {
      display: none !important;
    }
  </style>
</head>

<body>
  <header class="header header-fixed" ng-controller="AppHeaderController">
    <section class="navbar navbar-inverse">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <a class="brand navbar-brand" href="#/movies" style="padding: 10px 15px;">
              <img width="117" height="30" src="https://docs.angularjs.org/img/angularjs-for-header-only.svg">
            </a>
            <ul class="nav navbar-nav">
              <li ng-hide="user.id" ng-cloak><a ng-click="openLoginModal()">Login</a></li>
              <li class="dropdown" ng-show="user.id" ng-cloak>
                <a href="#" class="dropdown-toggle">
                  {{user.name}} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#/movies/favorites">My Favorites</a></li>
                  <li><a href="#/movies/watchlist">My Watchlist</a></li>
                  <li><a href="#/movies/rated">Movies I've Rated</a></li>
                  <li><a href="#/account">Account</a></li>
                  <li><a ng-click="logout()">Logout</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle">
                  Movies <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#/movies/popular">Popular</a></li>
                  <li><a href="#/movies/top_rated">Top Rated</a></li>
                  <li><a href="#/movies/upcoming">Upcoming</a></li>
                  <li><a href="#/movies/now_playing">Now playing</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle">
                  Genres <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#/movies/genre/28">Action</a></li>
                  <li><a href="#/movies/genre/12">Adventure</a></li>
                  <li><a href="#/movies/genre/16">Animation</a></li>
                  <li><a href="#/movies/genre/35">Comedy</a></li>
                  <li><a href="#/movies/genre/80">Crime</a></li>
                  <li><a href="#/movies/genre/99">Documentary</a></li>
                  <li><a href="#/movies/genre/18">Drama</a></li>
                  <li><a href="#/movies/genre/10751">Family</a></li>
                  <li><a href="#/movies/genre/14">Fantasy</a></li>
                  <li><a href="#/movies/genre/10769">Foreign</a></li>
                  <li><a href="#/movies/genre/36">History</a></li>
                  <li><a href="#/movies/genre/27">Horror</a></li>
                  <li><a href="#/movies/genre/10402">Music</a></li>
                  <li><a href="#/movies/genre/9648">Mystery</a></li>
                  <li><a href="#/movies/genre/10749">Romance</a></li>
                  <li><a href="#/movies/genre/878">Science Fiction</a></li>
                  <li><a href="#/movies/genre/10770">TV Movie</a></li>
                  <li><a href="#/movies/genre/53">Thriller</a></li>
                  <li><a href="#/movies/genre/10752">War</a></li>
                  <li><a href="#/movies/genre/37">Western</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <form class="navbar-search col-md-3" style="padding: 10px 15px;">
              <input type="text" class="form-control input-sm" ng-model="query" placeholder="Search for a movie or person..." typeahead="result.displayName for result in multiSearch($viewValue)" typeahead-wait-ms="400" typeahead-min-length="2" typeahead-template-url="autocomplete/result_item.html" typeahead-on-select="onSelectResult($item, $model, $label)">
          </form>
        </div>
      </div>
    </section>
  </header>

  <div ng-view style="position:relative"></div>

  <!-- vendor libs -->
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="../bower_components/angular-route/angular-route.js"></script>
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/underscore/underscore-min.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="../bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
  <script src="../bower_components/holderjs/holder.js"></script>
  <!-- end -->

  <!-- widgets -->
  <script src="widgets/app.widgets.module.js"></script>
  <script src="widgets/app.widgets.imgHolder.js"></script>
  <!-- end -->

  <!-- app scripts -->
  <script src="app.module.js"></script>
  <script src="app.config.js"></script>
  <script src="app.constants.js"></script>
  <script src="authentication/authentication.js"></script>
  <script src="app_header/app_header.js"></script>
  <script src="account/account.js"></script>
  <script src="user_movies/user_movies.js"></script>
  <script src="movies/movies.js"></script>
  <script src="movie/movie.js"></script>
  <!-- end -->
</body>

</html>
