<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <meta charset="utf-8">
  <title>Movie DB App</title>

  <link rel="stylesheet" href="../bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="_styles/app.css">
  <link rel="stylesheet" href="_styles/loading.css">
  <link rel="stylesheet" href="movie/movie.css">
  <link rel="stylesheet" href="components/multiSearch.directive.css">

  <link rel="icon" href="https://angularjs.org/favicon.ico" type="image/x-icon">

  <style type="text/css">
    [ng-cloak] {
      display: none !important;
    }
  </style>
</head>

<body>
  <header class="header header-fixed" ng-controller="AppHeaderController as header">
    <section class="navbar navbar-inverse">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <a class="brand navbar-brand" href="#/movies" style="padding: 10px 15px;">
              <img width="117" height="30" src="https://docs.angularjs.org/img/angularjs-for-header-only.svg">
            </a>
            <ul class="nav navbar-nav">
              <li ng-hide="user.id" ng-cloak><a ng-click="openLoginModal()">Login</a></li>
              <!-- User movies menu -->
              <li class="dropdown" ng-show="user.id" ng-cloak>
                <a href="#" class="dropdown-toggle">
                  {{user.name}} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#/movies/favorites">My Favorites</a></li>
                  <li><a href="#/movies/watchlist">My Watchlist</a></li>
                  <li><a href="#/movies/rated">Movies I've Rated</a></li>
                  <li><a href="#/account">Account</a></li>
                  <li><a ng-click="logout()">Logout</a></li>
                </ul>
              </li>
              <!-- Movies menu -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle">
                  Movies <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#/movies/popular">Popular</a></li>
                  <li><a href="#/movies/top_rated">Top Rated</a></li>
                  <li><a href="#/movies/upcoming">Upcoming</a></li>
                  <li><a href="#/movies/now_playing">Now playing</a></li>
                </ul>
              </li>
              <!-- Genres menu -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle">
                  Genres <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li ng-repeat="genre in header.movieGenres | orderBy:'label'">
                    <a href="#movies/genre/{{genre.id}}">{{genre.label}}</a>                  
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <form class="navbar-search col-md-3" style="padding: 10px 15px;">

            <input mdb-multi-search type="text" class="form-control input-sm" ng-model="search.query" placeholder="Search for a movie or person..." typeahead="result.displayName for result in search.multiSearch($viewValue)" typeahead-wait-ms="400" typeahead-min-length="2" typeahead-template-url="components/multiSearch.directive.html" typeahead-on-select="search.onSelectResult($item, $model, $label)">

          </form>
        </div>
      </div>
    </section>
  </header>

  <div ng-view style="position:relative"></div>

  <!-- vendor libs -->
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="../bower_components/angular-route/angular-route.js"></script>
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/underscore/underscore-min.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="../bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
  <script src="../bower_components/holderjs/holder.js"></script>
  <script src="../bower_components/lodash/lodash.min.js"></script>
  <!-- end -->

  <!-- components -->
  <script src="components/components.module.js"></script>
  <script src="components/imgHolder.directive.js"></script>
  <script src="components/multiSearch.directive.js"></script>
  <!-- end -->

  <!-- app scripts -->
  <script src="app.module.js"></script>
  <script src="app.config.js"></script>
  <script src="app.constants.js"></script>

  <!-- app header -->
  <script src="app_header/app_header.module.js"></script>
  <script src="app_header/app_header.controller.js"></script>
  <!-- end -->


  <script src="movies/movies.module.js"></script>
  <script src="movies/movies.constants.js"></script>
  <script src="movies/movies.controller.js"></script>
  <script src="movies/movieGenres.controller.js"></script>
  <script src="services/movies.service.js"></script>

  <script src="movie/movie.module.js"></script>
  <script src="movie/movie.controller.js"></script>
  <script src="movie/movieListItem.directive.js"></script>
  <!-- end -->
</body>

</html>
