<a ng-href="{{match.model.mediaLink}}" class="autocomplete-result-item">
	<div class="media">
	  <div class="media-left">
	      <img class="media-object" ng-if="match.model.media_type === 'movie' && match.model.poster_path" ng-src="https://image.tmdb.org/t/p/w92/{{match.model.poster_path}}" width="60">

	      <img class="media-object" ng-if="match.model.media_type === 'person' && match.model.profile_path" ng-src="https://image.tmdb.org/t/p/w92/{{match.model.profile_path}}" width="60">

	      <img ng-hide="match.model.profile_path || match.model.poster_path" mdb-image-holder="holder.js/60x90/industrial/text:No \n Image">
	  </div>
	  <div class="media-body">
	    <h3 class="media-heading" style="font-size:1.4em" ng-bind-html="match.model.displayName | uibTypeaheadHighlight:query"></h3>
	  </div>
	</div>
</a>
