.fader {
  -webkit-transition:all ease-out 1.2s;
  transition:all ease-out 1.2s;
}

.fader.fader-fast {
  -webkit-transition:all linear 0.3s;
  transition:all linear 0.3s;
}

.fader.ng-hide {
  opacity:0;
}

.fader.ng-show {
  opacity:1;
}