[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer;
}

.navbar-nav li a {
 line-height: 30px;
}

.media, .media-body {
  overflow: visible; 
}

button {
  text-transform: uppercase;
}

.btn-lg, .btn-group-lg>.btn {
  font-size: 1em;
}

header .navbar {
  margin-bottom: 0;
  border-radius: 0 !important;
}

.text-upper {
  text-transform: uppercase;
}

.text-bold {
  font-weight: bold;
}

.text-lg {
  font-size: 1.2em;
}

.text-xl {
  font-size: 1.4em;
}

.movie-metadata li {
  margin-bottom: 5px;
}

.movie-metadata .list-key {
  font-weight: bold;
}

.movie-actions {
  font-size: 40px;
  margin-top: 10px;
}

.is-rated {
  color: gold;
}
