<mdb-backdrop path="(personCtrl.person.tagged_images.results | filter:{height:'1080'})[0].file_path" ng-if="(personCtrl.person.tagged_images.results | filter:{height:'1080'})[0].file_path"></mdb-backdrop>

<div class="container" mdb-loading loading="personCtrl.loading">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header">{{personCtrl.person.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="media">
        <div class="pull-left">
          <div class="person_profile">
            <img ng-if="personCtrl.person.profile_path" class="media-object" width="300" ng-src="http://image.tmdb.org/t/p/w300/{{personCtrl.person.profile_path}}" alt="{{personCtrl.person.name}}">
            <img mdb-image-holder="holder.js/300x450/industrial/text:No \n Image" ng-hide="personCtrl.person.profile_path">
          </div>
        </div>
        <div class="media-body" style="padding-left:10px;">
          <span class="text-upper text-bold text-muted text-xl">Biography</span>
          <p>{{personCtrl.person.biography}}</p>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="personCtrl.person.movie_credits.crew.length">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="text-upper">Crew</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4" ng-repeat="movie in personCtrl.person.movie_credits.crew | orderBy:'-release_date'" style="margin-bottom:20px;">
        <movie-list-item></movie-list-item>
      </div>
    </div>
  </div>

  <div ng-show="personCtrl.person.movie_credits.cast.length">
    <div class="row">
      <div class="col-sm-4">
        <h4 class="text-upper">Actor</h4>
      </div>
      <div class="col-sm-8 text-right">
        <form>
          <input type="text" ng-model="actorFilter" class="input-sm" placeholder="Filter by movie">
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4" ng-repeat="movie in personCtrl.person.movie_credits.cast | filter:actorFilter | orderBy:'-release_date'" style="margin-bottom:20px;">
        <movie-list-item></movie-list-item>
      </div>
    </div>
  </div>

</div>