<mdb-backdrop path="(personCtrl.person.tagged_images.results | filter:{height:'1080'})[0].file_path" ng-if="(personCtrl.person.tagged_images.results | filter:{height:'1080'})[0].file_path"></mdb-backdrop>

<div class="container" mdb-loading loading="personCtrl.loading">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header">{{personCtrl.person.name}}</h1>
    </div>
  </div>
  <div class="row">

    <div class="hidden-xxs col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="person-profile">
        <img ng-if="personCtrl.person.profile_path" class="media-object" width="300" ng-src="{{personCtrl.API_SETTINGS.baseImageUrl}}w300/{{personCtrl.person.profile_path}}" alt="{{personCtrl.person.name}}">

        <img mdb-image-holder="holder.js/300x450?auto=yes&theme=sky&text={{personCtrl.person.name}}" ng-show="!personCtrl.person.profile_path">
        
      </div>
    </div>

    <div class="col-xxs-12 col-xs-9 col-sm-9 col-md-9 col-lg-9">
      <p class="text-upper text-bold text-xl">Biography</p>
      <p style="font-size: 1.1em;">
        {{personCtrl.person.biography | limitTo:1000}}{{personCtrl.person.biography.length > 1000 ? '...' : ''}}
      </p>
      <em ng-hide="personCtrl.person.biography">No biographical information available</em>
    </div>

  </div>

  <div ng-show="personCtrl.person.movie_credits.crew.length">
    <div class="row" style="margin-top:30px">
      <div class="col-xxs-12 col-xs-3 col-sm-4">
        <h3 class="text-upper" style="margin-top:0">Crew</h3>
      </div>
      <div class="col-xxs-12 col-xs-9 col-sm-8">
        <form class="form-inline form-movie-filter">
          <div class="form-group">
            <select 
              placeholder="Job"
              name="role" 
              class="form-control input-sm" 
              ng-model="crewFilter.job"
              ng-options="item as item for item in personCtrl.getCrewRoles(personCtrl.person.movie_credits.crew)">
              <option value="" ng-if="!crewFilter.job">Role</option>
            </select>
          </div>
          <div class="form-group">
            <select 
              placeholder="Year"
              name="release-year" 
              class="form-control input-sm" 
              ng-model="crewFilter.release_date"
              ng-options="item as item for item in personCtrl.getMovieDecades(personCtrl.person.movie_credits.crew)">
              <option value="" ng-if="!crewFilter.release_date">Year</option>
            </select>
          </div>
          <div class="form-group">            
            <input type="text" ng-model="crewFilter.title" class="input-sm" placeholder="Filter by name">
          </div>
          <div class="form-group">            
            <button class="btn btn-sm btn-info" ng-click="crewFilter={}">Clear</button>
          </div>
        </form>
      </div>
    </div>
    <hr style="margin-top:0">
    <div class="row">
      <movie-list-item class="col-xs-4 col-sm-3 col-md-2" ng-repeat="movie in personCtrl.person.movie_credits.crew | filter:crewFilter | orderBy:'-release_date' | mdbUnique:'id'"></movie-list-item>
    </div>
  </div>

  <div ng-show="personCtrl.person.movie_credits.cast.length">
    <div class="row" style="margin-top:30px">
      <div class="col-xxs-12 col-xs-3 col-sm-4">
        <h3 class="text-upper" style="margin-top:0">Acting Roles</h3>
      </div>
      <div class="col-xxs-12 col-xs-9 col-sm-8">
        <form class="form-inline form-movie-filter">
          <div class="form-group">
            <select 
              placeholder="Year"
              name="release-year" 
              class="form-control input-sm" 
              ng-model="actorFilter.release_date"
              ng-options="item as item for item in personCtrl.getMovieDecades(personCtrl.person.movie_credits.cast)">
              <option value="" ng-if="!actorFilter.release_date">Year</option>
            </select>
          </div>
          <div class="form-group">            
            <input type="text" ng-model="actorFilter.title" class="input-sm" placeholder="Filter by name">
          </div>
          <div class="form-group">            
            <button class="btn btn-sm btn-info" ng-click="actorFilter={}">Clear</button>
          </div>
        </form>
      </div>
    </div>
    <hr style="margin-top:0">

    <div class="row">
      <movie-list-item class="col-xs-6 col-sm-4 col-md-3" ng-repeat="movie in personCtrl.person.movie_credits.cast | filter:actorFilter | orderBy:'-release_date' | mdbUnique:'id'"></movie-list-item>
    </div>
  </div>

</div>