#dashboard .page-header {
  margin: 0;
  border: none;
}

#dashboard .page-header h1,
#dashboard .page-header h2,
#dashboard .page-header h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2em;
  text-align: center;
}